apiVersion: v1
kind: Service
metadata:
  name: overseerr
  namespace: plex
spec:
  type: LoadBalancer
  selector:
    app: overseerr
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 5055
