apiVersion: v1
kind: Service
metadata:
  name: radarr
  namespace: plex
spec:
  type: LoadBalancer
  loadBalancerIP: 192.168.0.244
  selector:
    app: radarr
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 7878
