apiVersion: v1
kind: Service
metadata:
  name: sonarr
  namespace: plex
spec:
  type: LoadBalancer
  selector:
    app: sonarr
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 8989
