apiVersion: v1
kind: Service
metadata:
  name: sonarr
  namespace: plex
spec:
  type: LoadBalancer
  loadBalancerIP: 192.168.0.242
  selector:
    app: sonarr
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 8989
